# Version 2022-08-12

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
*.RData

# User-specific files
.Ruserdata
.DS_Store

# File with user info
/data/beast/raw_data/batch 1 -core-raw.csv
/data/beast/raw_data/batch 1 -decisions-raw.csv
/data/elections/raw_data/batch1-core-raw.csv
/data/elections/raw_data/batch1-decisions-raw.csv
/data/elections/raw_data/LIONESS Results - elections_social_info (confidence) 20201030_0623.xlsx
/data/elections/raw_data/LIONESS Results - elections_social_info (confidence) 20201030_1436.xlsx
/data/elections/raw_data/LIONESS Results - elections_social_info (confidence) 20201031_0331.xlsx
/data/elections/raw_data/LIONESS Results - elections_social_info (confidence) 20201103_0244.xlsx

# RStudio files
.Rproj.user
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# R projects 

# Directories
/data/beast/raw_data/lioness

# Files
README.Rmd
